<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1> Welcome, {{ user.first_name }}</h1>
    <div class="buttons"> 
        <a href="/recipes" class=" btn"> back to recipes</a>
        <a href="/logout" class="btn"> Logout</a>
    </div>
    <h2>{{recipe.name}} </h2>
    <p> Posted By: {{recipe.host.first_name}}</p>
    <div class="recipe_box">
        <p> Description: {{recipe.description}}</p>
        <p> Under 30 Minutes?</p>     
            {% if recipe.under_30 == 0 %}
                <p> No <p>
                {% elif recipe.under_30 == 1 %}
                <p> Yes<p>
            {% endif %}
        <p> Instructions: {{recipe.instruction}}</p>
        <p> Date Made: {{recipe.date}} </p>
    </div>
</body>
</html>